:root {
    --primary-color: #6E339E;
    --secondary-color: #CC9900;
    --text-color: #0B0A07;
    --background-color: #F1F5F2;
    --semitransparent-background: hsla(45, 22%, 4%, 0.75);
    --foreground-color: #FFFFFC;
    --error-color: #FF3F00;
    --focus-color: #008BF8;

    --shadow-color: 135deg 5% 60%;
}

@font-face {
    font-family: "PrinceValiant";
    src:
        url("fonts/prince_valiant/PrinceValiant.woff2"),
        url("fonts/prince_valiant/PrinceValiant.woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--text-color, #0B0A07);
}

