:root {
    --primary-color: #6E339E;
    --secondary-color: #CC9900;
    --text-color: #0B0A07;
    --background-color: #F1F5F2;
    --semitransparent-background: hsla(45, 22%, 4%, 0.75);
    --foreground-color: #FFFFFC;
    --error-color: #FF3F00;
    --focus-color: #008BF8;

    --shadow-color: 135deg 5% 60%;

    --step-one: 1rem;

    --step-quarter: calc(var(--step-one) / 4);
    --step-half: calc(var(--step-one) / 2);
    --step-two: calc(var(--step-one) * 2);
    --step-three: calc(var(--step-one) * 3);
    --step-four: calc(var(--step-one) * 4);
}

@font-face {
    font-family: "PrinceValiant";
    src:
        url("fonts/prince_valiant/PrinceValiant.woff2"),
        url("fonts/prince_valiant/PrinceValiant.woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--text-color, #0B0A07);
    height: 100dvh;
    display: flex;
}

/* Basic Styles */

.main-wrapper {
    position: relative;
    background-color: var(--background-color, #F1F5F2);
    width: 1440px;
    height: 1024px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;

    border-radius: var(--step-one);;
}

/* Side Panel Style */

.side-panel {
    width: 40%; /* address later */

    background-image: url(/images/key_visual.jpg);
    background-position: center;
    
}

.side-panel > .logo-container {
    height: 150px;
    position: relative;
    background-color: var(--semitransparent-background);
    top: 208px;
    left: calc(50% / 576px/2);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

img[src$=".png"] {
    height: calc(150px - var(--step-two));
    filter: drop-shadow(1px -2px 8px var(--secondary-color));
}

img[src$=".png"] + h1 {
    font-family: 'PrinceValiant';
    font-size: clamp(var(--step-two), 64px, var(--step-four));
    color: var(--foreground-color, #FFFFFC);
}

.side-panel > .copyright {
    color: var(--foreground-color);

    text-align: center;
    position: absolute;
    bottom: var(--step-two);
    left: calc(20% - 576px/4);


    background-color: var(--semitransparent-background);
    padding: var(--step-quarter) var(--step-half);
    border-radius: var(--step-quarter);
    backdrop-filter: blur(1px);
}

.copyright a {
    color: var(--secondary-color);
    text-decoration-line: underline;

    transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.copyright a:hover {
    color: var(--foreground-color);
}

/* Section Style */
/* 
section {
    width: 60%; `
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    background-color: var(--background-color);
    font-size: max(var(--step-one), 1em, calc(var(--step-one) + var(--step-half)));

    padding: var(--step-three);

    display: flex;
    flex-direction: column;
    gap: var(--step-two);
}

.description > p > span {
    font-size: var(--step-two);
    font-family: 'PrinceValiant';
    vertical-align: text-bottom;
    text-shadow: 
        0 1px 1px var(--primary-color),
        0 3px 3px var(--secondary-color);
}

form {
    padding: var(--step-one);
    display: flex;
    flex-flow: column;
    background-color: #008BF8;
    gap: 1rem;
}

.input-wrapper {
    display: flex;
    flex-flow: row wrap;
    background-color: #6E339E;
    justify-content: flex-start;
    
    gap: var(--step-one);
}

.input-wrapper > h2 {
    flex: 100%;
}

.input-wrapper > .form-block {
    display: flex;
    flex-direction: column;
    gap: var(--step-half);
}

.input-wrapper > .form-block:nth-child(odd) {
    margin-left: var(--step-two);
}



.description, form {
    padding-left: var(--step-four);
    padding-right: calc(var(--step-four) * 2);
} */